<% provide :title, t(:resource_new, resource: @employee.class.name) %>

<%= render partial: 'errors', locals: { resource: @employee } %>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h2>
      <%= t :resource_create, resource: @employee.class.name.downcase %>
    </h2>

    <%= form_with model: @employee, local: true do |f| %>
      <fieldset class="row align-items-center">
        <%= fa_icon('user fw', class: 'col-1 mt-4') %>
        <div class="form-group bmd-form-group col">
          <!-- after a failed validation, restore the right format of the username -->
          <%= f.text_field :username, class: 'form-control', id: :username,
                           value: (@employee.nil? ? nil : @employee.username.split('@')[0]) %>
          <%= label_tag :username, t(:username), class: 'bmd-label-floating' %>
        </div>
      </fieldset>

      <%= render partial: 'application/forms/email', locals: { form: f } %>

      <% unless current_employee %>
        <fieldset class="row align-items-center">
          <%= fa_icon('briefcase fw', class: 'col-1 mt-4') %>
          <div class="form-group bmd-form-group col">
            <!-- after a failed validation, restore the Enterprise name -->
            <%= f.text_field :enterprise, class: 'form-control', id: :enterprise,
                             value: ((@employee.nil? || @employee.enterprise.nil?) ? nil : @employee.enterprise.name) %>
            <%= label_tag :enterprise, t(:enterprise, count: 1).capitalize, class: 'bmd-label-floating'%>
          </div>
        </fieldset>
      <% end %>

      <%= render partial: 'application/forms/role', locals: { form: f } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :create } %>
    <% end %> <!-- form -->
  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
