<% provide :title, @consumer.username %>


<div class="jumbotron py-2">
  <div class="row">
    <h2>
      <%= @consumer.username %>
    </h2>
  </div>

  <div class="row media mt-1">
    <%= render partial: 'application/avatar', locals: { size: 50 } %>

    <div class="media-body ml-3">

      <% if @consumer.email %>
          <%= t(:personal_contact) %>
          <%= @consumer.email %>
      <% end  %>
      <small>
        <br>
        <%= t(:profile_created_in, time: @consumer.created_at)%>
        <br>
      </small>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-6 px-0">
    <div class="jumbotron col-11 py-2"> <!-- Problem threads -->
      <div class="row">
        <h3>
          <%= t(:problem_threads_header, count: @consumer.problem_threads.count) %>
        </h3>
      </div>

      <%= render partial: 'problem_threads/list', locals: { format_zero: false, paginate: false,
                                                            problem_threads: @consumer.problem_threads.order_by_activity.take(10) } %>
    </div>
  </div>

  <div class="col-6 px-0">
    <div class="jumbotron offset-md-1 col-11 py-2"> <!-- Problem threads -->
      <div class="row">
        <h3>
          <%= t(:advice_threads_header, count: @consumer.advice_threads.count) %>
        </h3>

      </div>

      <%= render partial: 'advice_threads/list', locals: { format_zero: false, paginate: false,
                                                           advice_threads: @consumer.advice_threads.order_by_activity.take(10) } %>
    </div>
  </div>
</div>
