<% provide :title, @admin == current_admin ? t(:settings) : t(:resource_edit, name: @admin.username) %>


<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h3>
      <%= t :settings %>
    </h3>
    <%= form_with model: @admin, html: { method: :put }, local: true do |f| %>
      <%= render partial: 'application/forms/username', locals: { form: f, disabled: true} %>

      <%= render partial: 'application/forms/email', locals: { form: f } %>

      <%= render partial: 'application/forms/password', locals: { form: f, locale: :password_optional, min_length: 8 } %>

      <%= render partial: 'application/forms/password_confirmation', locals: { form: f } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :save } %>
    <% end %>


    <% unless @admin.email.blank? %>
      <% if !@admin.locked_at.nil? %>
        <%= render partial: 'application/edit/unlock', locals: { path: admin_manual_unlock_path(@admin) } %>
      <% else %>
        <%= render partial: 'application/edit/lock', locals: { user: @admin, path: admin_lock_path(@admin) } %>

        <%= render partial: 'application/edit/delete', locals: { user: @admin, path: admin_path(@admin) } %>
      <% end %>
    <% end %>

  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
