<div class="my-5">
  <h3>
    <%= t(user == current_user ? :delete_account : :delete_account_other) %>
  </h3>

  <p>
    <%= t(user == current_user ? :delete_account_disclaimer : :delete_account_disclaimer_other) %>
  </p>
  <p>
    <%= t :irreversible %>
  </p>

  <button type="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#deleteModal">
    <%= t :delete %>
  </button>
</div>

<%= render partial: 'application/edit/modal_irreversible', locals: { id: 'deleteModal', path: path } %>
