<div class="my-5">
  <h3>
    <%= t :delete_resource, res: t(resource.class.name.downcase, count: 1) %>
  </h3>

  <p>
    <%= t :delete_resource_disclaimer %>
  </p>
  <p>
    <%= t :irreversible %>
  </p>

  <button type="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#deleteModal">
    <%= t :delete %>
  </button>
</div>

<%= render partial: 'application/edit/modal_irreversible', locals: { id: 'deleteModal', path: path } %>
