<% provide :title, t(:unlock_resend) %>

<%= devise_error_messages! %>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >

    <h2>
      <%= t :unlock_resend_instructions %>
    </h2>


    <%= form_with model: resource, as: resource_name, url: unlock_path(resource_name), local: true do |f| %>

      <%= render partial: 'application/forms/email', locals: { form: f } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :resend } %>
    <% end %>

    <%= render 'devise/shared/links' %>

  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
