<h2>Sign up</h2>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<p>
  This is the first time you are logging in with a Facebook account.
</p>



<%= form_tag({controller: 'consumers/facebook', action: 'select_username'}, method: 'get') do %>

    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username, nil, autofocus: true %>
    </div>

    <div class="actions">
      <%= submit_tag 'Sign up' %>
    </div>

<% end %>

<p>
  Or sign in with an existing account:
</p>

<%= form_tag({controller: 'consumers/facebook', action: 'connect_existing'}, method: 'get') do %>

    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username %>
    </div>

    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, autocomplete: 'off' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Sign up' %>
    </div>

<% end %>
