<% provide :title, t(:title, scope: [:facebook]) %>

<h2>
  <%= t(:sign_up) %>
</h2>

<% if @email_taken %>
    <p>
      <%= t(:sign_in_existing_only, scope: [:facebook]) %>
    </p>
<% else %>
    <p>
      <%= t(:first_time, scope: [:facebook]) %>
    </p>

    <%= form_tag({controller: 'consumers/facebook', action: 'select_username'}, method: 'get') do %>
        <%= t(:username, scope: [:facebook]) %>
        <div class="field">
          <%= label_tag :username %><br/>
          <%= text_field_tag :username, nil, autofocus: true %>
        </div>

        <% if session['devise.facebook_data']['info']['email'].blank? %>
            <div class="field">
              <%= label_tag :email %>
              <em>(optional)</em><br/>
              <%= email_field_tag :email %>
            </div>
        <% end %>

        <div class="actions">
          <%= submit_tag t(:sign_up) %>
        </div>

    <% end %>

    <p>
      <%= t(:sign_in_existing, scope: [:facebook]) %>
    </p>

    <%= form_tag({controller: 'consumers/facebook', action: 'connect_existing'}, method: 'get') do %>

        <div class="field">
          <%= label_tag :username %><br/>
          <%= text_field_tag :username %>
        </div>

        <div class="field">
          <%= label_tag :password %><br/>
          <%= password_field_tag :password, nil, autocomplete: 'off' %>
        </div>

        <div class="actions">
          <%= submit_tag t(:sign_in) %>
        </div>

    <% end %>

<% end %>
