<% provide :title, t(:facebook_title) %>

<h2>
  <%= t(:sign_up) %>
</h2>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<p>
  <%= t(:facebook_first_time) %>
</p>



<%= form_tag({controller: 'consumers/facebook', action: 'select_username'}, method: 'get') do %>
    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username, nil, autofocus: true %>
    </div>

    <% if session['devise.facebook_data']['info']['email'].blank? %>
        <div class="field">
          <%= label_tag :email %>
          <em>(optional)</em><br />
          <%= email_field_tag :email %>
        </div>
    <% end %>

    <div class="actions">
      <%= submit_tag t(:sign_up) %>
    </div>

<% end %>

<p>
  <%= t(:facebook_sign_in_existing) %>
</p>

<%= form_tag({controller: 'consumers/facebook', action: 'connect_existing'}, method: 'get') do %>

    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username %>
    </div>

    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, autocomplete: 'off' %>
    </div>

    <div class="actions">
      <%= submit_tag t(:sign_up) %>
    </div>

<% end %>
