<li class="nav-item active dropdown">
  <%= link_to user_path(current_user), class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= fa_icon 'plus fw' %>
      <%= t :create%>
  <% end %>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to new_admin_path, class: 'dropdown-item' do %>
        <%= fa_icon 'bolt fw', class: 'mr-2' %>
        <%= Admin.model_name.human.capitalize %>
    <% end %>
    <%= link_to new_employee_path, class: 'dropdown-item' do %>
        <%= fa_icon 'users fw', class: 'mr-2' %>
        <%= Employee.model_name.human.capitalize %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to new_enterprise_path, class: 'dropdown-item' do %>
      <span class="col" style="padding-left:0;padding-right:0">
        <%= fa_icon 'briefcase fw' %>
        <%= Enterprise.model_name.human.capitalize %>
      </span>
    <% end %>
  </div>
</li>
