<% provide :title, t(:resource_new, resource: @enterprise.class.name) %>

<%= render partial: 'errors', locals: { resource: @enterprise } %>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >

    <h2>
      <%= t :resource_create, resource: @enterprise.class.name.downcase %>
    </h2>

    <%= form_with model: @enterprise, local: true do |f| %>
      <%= render partial: 'application/forms/enterprise_name', locals: { form: f } %>

      <%= render partial: 'application/forms/username_suffix', locals: { form: f } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :create} %>
    <% end %>

  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
