
<li id="post-<%= post.id %>">
  <%= render partial: 'application/avatar', locals: {size:30} %>
  <span class="consumer"><%= link_to post.consumer.username, post.consumer %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user == post.consumer %>
      <%= link_to "delete", post, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>