// partial for showing a single post

<li id="post-<%= post.id %>">
   <%= link_to user_path(current_user) do%>
      <%= render partial: 'application/avatar', locals: {size:23} %>
      <%= post.consumer %>
  # <%end%>
  <span class="consumer"><%= link_to post.consumer.username, post.consumer %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>