<% provide :title, t(:resource_edit, name: AdviceThread.model_name.human) %>

<%= render partial: 'errors', locals: { resource: @advice_thread } %>

<ol class="breadcrumb">
  <%= render partial: 'breadcrumbs', locals: { problem_thread: @advice_thread } %>

  <%= render partial: 'application/breadcrumbs/advice_thread', locals: { advice_thread: @advice_thread} %>

  <%= render partial: 'application/breadcrumbs/finale', locals: { string: t(:edit) } %>
</ol>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h2>
      <%= t :resource_edit, name: AdviceThread.model_name.human %>
    </h2>

    <%= form_with model: @advice_thread, metod: :put, local: true do |f| %>
      <%= render partial: 'application/forms/title', locals: { form: f } %>

      <%= render partial: 'application/forms/content', locals: { form: f, } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :save } %>
    <% end %>
  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
