<% provide :title, t(:resource_new, resource: ProblemThread.model_name.human) %>

<%= render partial: 'errors', locals: { resource: @problem_thread } %>

<ol class="breadcrumb">
  <%= render partial: 'breadcrumbs', locals: { problem_thread: @problem_thread } %>

  <%= render partial: 'application/breadcrumbs/finale', locals: { string: t(:create) } %>
</ol>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h2>
      <%= t :resource_create, resource: ProblemThread.model_name.human %>
    </h2>

    <%= form_with model: @problem_thread, url: product_problem_threads_url, local: true do |f| %>
      <%= render partial: 'application/forms/title', locals: { form: f } %>

      <%= render partial: 'application/forms/content', locals: { form: f, } %>

      <%= render partial: 'application/forms/submit', locals: { form: f, locale: :create } %>
    <% end %>
  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
