<% provide :title, @problem_thread.title %>

<ol class="breadcrumb">
  <%= render partial: 'breadcrumbs', locals: { problem_thread: @problem_thread } %>

  <%= render partial: 'application/breadcrumbs/problem_thread', locals: { active: true, problem_thread: @problem_thread} %>
</ol>

  <div class="row">
    <%= @problem_thread.content %>
  </div>

  <div class="row mt-2">
    <div class="col pl-0">
      <%= t(:posted_by) %>
      <%= link_to consumer_path(@problem_thread.consumer), class: 'ml-1' do %>
        <%= render partial: 'application/avatar', locals: { user: @problem_thread.consumer, size: 23 } %>
        <%= @problem_thread.consumer.username %>
      <% end %>
      <%= t(:at, time: @problem_thread.created_at.to_formatted_s(:long),
                 ago: t(:ago, time: time_ago_in_words(@problem_thread.created_at))) %>
    </div>
    <div class="col">
      <%= t(:referent) %>
      <%= link_to employee_path(@problem_thread.employee), class: 'ml-1' do %>
        <%= render partial: 'application/avatar', locals: { user: @problem_thread.employee, size: 23 } %>
        <%= @problem_thread.employee.username %>
      <% end %>
    </div>
  </div>
</div>

<div class="jumbotron py-2">
  <h3 class="row">
    <%= t(:comments_header, count: @problem_thread.comments.count) %>
  </h3>

  <% if @comments %>
    <%= render(@comments) %>

    <%= will_paginate(@comments, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <% end %>
</div>

<!--%= render 'comments/form' %-->
