<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem_thread.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @problem_thread.content %>
</p>

<p>
  <strong>Written by:</strong>
  <%= link_to @problem_thread.consumer.username, @problem_thread.consumer%>
</p>

<p>
  <strong>Brand:</strong>:</strong>
<%= link_to @problem_thread.product.enterprise.name, @problem_thread.product.enterprise%>
</p>
<p>
  <strong>Model:</strong>:</strong>
  <%= link_to @problem_thread.product.model, @problem_thread.product%>
</p>
<p>
  <small>Posted <%= time_ago_in_words(@problem_thread.created_at) %> ago.</small>
</p>

<p>
  <strong>Referent:</strong>
  <%= link_to @problem_thread.employee.username, @problem_thread.employee%>
</p>

<%= link_to 'Edit', edit_product_problem_thread_path(@product,@problem_thread) %> |
<%= link_to 'Back', product_path(@product) %>

<div class="col-md-8">
  <% if @problem_thread.comments.any? %>
      <h3>Comments (<%= @problem_thread.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments%>
  <% end %>
</div>


<%= render 'comments/form'%>


