<%= form_for product, html:{multipart:true} do |form| %>

  <%= render partial: 'errors', locals: { resource: @product } %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :product_model %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :production_year %>
    <%= form.number_field :production_year, id: :product_production_year %>
  </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, id: :product_image %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
