<% name = "#{@product.enterprise.name} #{@product.model}" %>

<% provide :title, t(:resource_edit, name: name) %>

<%= render partial: 'errors', locals: { resource: @product } %>

<div class="jumbotron align-items-center">
  <div class="col-6 mx-auto" >
    <h2>
      <%= name %>
    </h2>

    <%= render partial: 'form', locals: { submit: :save } %>

    <% if @product.active %>
      <%= render partial: 'application/edit/delete_resource', locals: { res: @product, path: product_path(@product) }  %>
    <% elsif @product.enterprise.active %>
      <h3>
        <%= t :restore_resource, res: t(:product).downcase %>
        <%= button_to t(:restore), restore_product_path(@product), method: :delete, class: 'btn btn-danger btn-raised', form_class: 'form-delete'%>
      </h3>
    <% end %>
  </div> <!-- col-6 -->
</div> <!-- jumbotron -->
