<% provide :title, "#{@product.enterprise.name} #{@product.model}" %>

<ol class="breadcrumb">
  <%= render partial: 'breadcrumbs', locals: { product: @product} %>

  <%= render partial: 'application/breadcrumbs/product', locals: { product: @product } %>
</ol>

<div class="jumbotron py-2">
  <div class="row">
    <h2 class="row align-items-center">
      <%= @product.enterprise.name %>
      <%= @product.model %>
      <% unless @product.active %>
        <%= render partial: 'application/inactive_badge' %>
      <% end %>
    </h2>
    <% if policy(@product).update? %>
      <%= button_to t(:resource_edit, name: Product.model_name.human), edit_product_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-4', form_class: 'form-delete' %>
    <% end %>
  </div>

  <div class="row media mt-1">
    <%= image_tag @product.image_url(:small), class: 'd-flex align-self-start', width: 250 %>
    <div class="media-body ml-3">
      <%= simple_format(@product.description) %>
      <small>
        <%= t(:since, year: @product.production_year) if @product.production_year %>
      </small>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-6 px-0">
    <div class="jumbotron col-11 py-2"> <!-- Problem threads -->
      <div class="row">
        <h3>
          <%= t(:problem_threads_header, count: @product.problem_threads.count) %>
        </h3>
        <% unless @product.problem_threads.count.zero? %>
          <a class="btn btn-info" data-toggle="collapse" href="#collapseSearchProblem">
            <%= fa_icon 'search fw' %>
          </a>

          <%= button_to t(:view_all), product_problem_threads_path(@product), method: :get, class: 'btn btn-info', form_class: 'form-delete' %>
        <% end %>
      </div>

      <%= render partial: 'search_collapse', locals: { id: 'collapseSearchProblem', url: search_product_problem_threads_path(@product) } %>

      <%= render partial: 'problem_threads/list', locals: { format_zero: false, paginate: false,
                                                            problem_threads: @product.problem_threads.order_by_activity.take(10) } %>

      <% if policy(@product.problem_threads.build).create? %>
        <%= button_to t(:resource_new, resource: ProblemThread.model_name.human), new_product_problem_thread_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-2' %>
      <% end %>
    </div>
  </div>

  <div class="col-6 px-0">
    <div class="jumbotron offset-md-1 col-11 py-2"> <!-- Problem threads -->
      <div class="row">
        <h3>
          <%= t(:advice_threads_header, count: @product.advice_threads.count) %>
        </h3>
        <% unless @product.advice_threads.count.zero? %>
          <a class="btn btn-info" data-toggle="collapse" href="#collapseSearchAdvice">
            <%= fa_icon 'search fw' %>
          </a>

          <%= button_to t(:view_all), product_advice_threads_path(@product), method: :get, class: 'btn btn-info', form_class: 'form-delete' %>
        <% end %>
      </div>

      <%= render partial: 'search_collapse', locals: { id: 'collapseSearchAdvice', url: search_product_advice_threads_path(@product) } %>

      <%= render partial: 'advice_threads/list', locals: { format_zero: false, paginate: false,
                                                           advice_threads: @product.advice_threads.order_by_activity.take(10) } %>

      <% if policy(@product.advice_threads.build).create? %>
        <%= button_to t(:resource_new, resource: AdviceThread.model_name.human), new_product_advice_thread_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-2' %>
      <% end %>
    </div>
  </div>
</div>
