<% provide :title, "#{@product.enterprise.name} #{@product.model}" %>

<ol class="breadcrumb">
  <%= render partial: 'breadcrumbs', locals: { product: @product} %>

  <%= render partial: 'application/breadcrumbs/product', locals: { product: @product } %>
</ol>

<div class="jumbotron py-2">
  <div class="row">
    <h2>
      <%= @product.enterprise.name %>
      <%= @product.model %>
    </h2>
    <% if policy(@product).update? %>
      <%= button_to t(:resource_edit, name: Product.model_name.human), edit_product_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-2' %>
    <% end %>
  </div>

  <div class="row media mt-1">
    <%= image_tag @product.image_url(:small), class: 'd-flex align-self-start', width: 250 %>
    <div class="media-body ml-3">
      <%= simple_format(@product.description) %>
      <small>
        <%= t(:since, year: @product.production_year) if @product.production_year %>
      </small>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="jumbotron col-5 py-2"> <!-- Problem threads -->
    <div class="row">
      <h3>
        <%= t(:problem_threads_header, count: @product.problem_threads.count) %>
      </h3>
      <% unless @product.problem_threads.count.zero? %>
        <%= button_to t(:view_all), product_problem_threads_path(@product), method: :get, class: 'btn btn-info' %>
      <% end %>
    </div>

    <!-- TODO: search -->

    <%= render partial: 'problem_threads/list', locals: { format_zero: false, paginate: false,
                                                          problem_threads: @product.problem_threads.order(:id).take(10) } %>

    <% if policy(ProblemThread).create? %>
      <%= button_to t(:resource_new, resource: ProblemThread.model_name.human), new_product_problem_thread_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-2' %>
    <% end %>
  </div>
</div>
