<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @product.enterprise.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Production year:</strong>
  <%= @product.production_year %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Post a problem thread', new_product_problem_thread_path(@product)%>



