<% provide :title, "#{@product.enterprise.name} #{@product.model}" %>

<h2>
  <%= link_to @product.enterprise.name, enterprise_path(@product.enterprise) %>
  <%= @product.model %>
</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag(@product.image_url(:medium), class: 'col-12 pl-0 mb-3 mt-1') %>

        <% if policy(@product).update? %>
          <%= button_to t(:resource_edit, name: t(:product, count: 1)), edit_product_path(@product), method: :get, class: 'btn btn-primary btn-raised' %>
        <% end %>
      </div>

      <div class = "col-md-7">
        <small>
          <%= t(:since, year: @product.production_year) if @product.production_year %>
        </small>

        <div>
          <%= @product.description %>
        </div>

        <%= link_to I18n.t(:product_same_enterprise), products_enterprise_path(@product.enterprise) %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <% if @product.problem_threads.any? %>
    <div class="row">
      <h3>
        <%= t :problem_threads_header, number: @product.problem_threads.count %>
      </h3>

      <% if current_consumer %> <!-- TODO: policy(ProblemThread).create? -->
        <%= button_to I18n.t(:resource_new, resource: I18n.t(:problem_thread)), new_product_problem_thread_path(@product), method: :get, class: 'btn btn-primary btn-raised ml-2' %>
      <% end %>
    </div>

    <ol class="problem_threads">
      <%= render @problem_threads %>
    </ol>

    <% will_paginate @problem_threads, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  <% end %>
</div>
