<!DOCTYPE html>
  <html>
    <head>
      <title><%= yield :title %></title>
      <%= csrf_meta_tags %>

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css">

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <%= render partial: 'navbar' %>
      <div class = "container">

        <%= render partial: 'flash_messages' %>

        <div class="container mt-3">
          <%= yield %>
        </div>
      </div>

      <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    </body>

  <!-- GNU Terry Pratchett -->

</html>
